@media (max-width: 60rem) {
  #mobile-header {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 3.3rem;
    margin: 0 auto;
    top: -11.7rem;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    transition: all 600ms ease-in-out;
    padding-bottom: 1rem;
    z-index: 1;
  }

  #mobile-header.active {
    top: 9.3rem;
    transition: all 600ms ease-in-out;
    padding-bottom: 3.3rem;
  }

  .header__toggle {
    position: relative;
    width: 4rem;
    height: 4rem;
    transition: all 300ms ease-in-out;
  }

  .header__input {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 50px;
    height: 50px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }

  .header__span::after,
  .header__span::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #121212;
    transform: rotate(45deg);
    width: 25px;
    height: 5px;
    top: 5px;
    transition: all 0.3s;
  }

  .header__span::before {
    transform: rotate(-45deg);
    left: 15px;
  }

  .header__input:checked + .header__span::after {
    transform: rotate(-45deg);
    top: 3px;
  }

  .header__input:checked + .header__span::before {
    transform: rotate(45deg);
    top: 3px;
  }

  #blackout {
    visibility: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: all 400ms;
  }

  #blackout.blackout {
    visibility: inherit;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #121212;
    opacity: 50%;
    z-index: 0;
    transition: all 400ms;
  }

  .header__span {
    position: absolute;
    margin-top: 1rem;
    left: 0;
  }

  .header {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5rem;
    margin-bottom: 5rem;
    background-color: #fff;
    z-index: 2;
    padding-top: 3.3rem;
    margin-top: 0;
  }

  .header__navigation {
    display: none;
  }

  .link {
    width: fit-content;
    border-bottom: 0.1rem solid transparent;
  }

  .header__logo{
    width: auto;
    height: 3rem;
  }

  .main {
    margin-top: 3.3rem;
    margin-bottom: 8rem;
  }

  .h1 {
    font-size: 2.3rem;
    line-height: 3rem;
    font-weight: 500;
  }

  .main__image {
    height: 93vw;
    max-height: 50rem;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url(../Resources/Photos/Chair.png) center center/cover no-repeat;
  }

  .main__paragraph{
    color: #fff;
    max-width: 43rem;
    margin: 2.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .h2 {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    letter-spacing: -0.03em;
    justify-content: start;
    text-align: center;
  }

  .about-us {
    margin-bottom: 10rem;
  }

  .about-us__paragraph {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }

  .about-us {
    margin-bottom: 8rem;
  }

  .about-us a {
    width: 100%;
    text-align: center;
  }

  .project {
    margin-bottom: 4rem;
  }

  .project__item {
    margin-bottom: 5rem;
  }

  .project__image {
    height: 50vw;
    object-fit: cover;
  }

  .h3 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .project__item:nth-child(4) {
    margin-bottom: 8rem;
  }

  .project__show-all {
    font-size: 2.4rem;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  .service{
    align-items: center;
    margin-bottom: 0;
  }

  .service__image {
    height: 30vw;
    object-fit: cover;
  }

  .h2  {
    margin-top: 4rem;
  }

  .service__item:nth-child(5) {
    margin-bottom: 4rem;
  }

  .single-project {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  .single-project__paragraph {
    max-width: 21rem;
    font-size: 1.5rem;
    line-height: 2rem;
    bottom: 2.5rem;
    left: 2.5rem;
    margin-bottom: 0;
  }

  .single-project__image {
    height: 74vw;
    object-fit: cover;
  }

  .single-project__paragraph {
    color: #fff;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    max-width: 31rem;
  }

  .contact {
    margin-bottom: 0;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 100%;
  }

  .contact__icon {
    display: none;
  }

  .contact__link{
    font-size: 3.1rem;
    line-height: 3.1rem;
    margin-bottom: 4rem;
    letter-spacing: -0.03em;
  }

  footer {
    margin-top: 0;
  }

  .footer__navigation {
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 2rem;
  }

  .footer__paragraph {
    font-size: 1.5rem;
    line-height: 2.7rem;
    margin-bottom: 4rem;
  }
}
