html {
  font-family: "Manrope";
  font-size: 62.5%;
  color: #121212;
}

body {
  font-size: 1.9rem;
  align-items: center;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  letter-spacing: -0.03em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope";
  font-style: normal;
  padding: 0 3.3rem;
}

.container {
  max-width: 115rem;
}

a {
  color: #121212;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  color: #888888;
  border-bottom: 0.1rem solid #888888;
  transition: 0.3s;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 7rem;
  margin-top: 3.3rem;
}

.header__left img {
  width: auto;
  height: 1.9rem;
}

.header__right {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
}

.header__right a {
  font-size: 1.8rem;
}

.wrapper__main {
  display: flex;
  flex-direction: column;
  margin-bottom: 15rem;
  width: 100%;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
  margin-bottom: 3rem;
}

.background-chair {
  display: flex;
  align-items: end;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../Resources/Photos/Chair.png) center center/cover no-repeat;
  width: 100%;
  height: 50vw;
  max-height: 50rem;
}

.background-chair p {
  color: #fff;
  max-width: 43rem;
  margin: 4rem;
  font-size: 2rem;
  line-height: 2.73rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  justify-content: start;
}

.wrapper__about-us {
  display: flex;
  flex-direction: column;
  margin-bottom: 15rem;
}

.wrapper__about-us p {
  max-width: 105rem;
}

.wrapper__about-us {
  width: 100%;
}

p {
  font-size: 4.5rem;
  line-height: 6.14rem;
  margin-bottom: 3rem;
}

.wrapper__about-us a {
  width: fit-content;
  background-color: #ad1818;
  color: #fff;
  padding: 2rem 4rem;
  text-decoration: none;
  font-size: 2rem;
  line-height: 2.73rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.wrapper__about-us a:hover {
  border-bottom: none;
}

.wrapper__projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 15rem;
}

.project {
  margin-bottom: 9rem;
}

.project img {
  width: 100%;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1.5rem;
}

.project a {
  border: none;
  color: #ad1818;
  text-decoration: none;
  font-size: 2rem;
  line-height: 2.73rem;
  margin-bottom: 9rem;

  transition: 0.3s;
}

a.project__btn-show-all {
  font-size: 3rem;
  text-align: center;
  padding-top: 5.6rem;
  padding-bottom: 5.6rem;
  border: 0.1rem solid #ad1818;
  text-decoration: none;
  color: #ad1818;
  border-radius: 0.5rem;
  transition: 0.3s;
}

a.project__btn-show-all:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ad1818;
  transition: 0.4s;
}

.wrapper__services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #121212;
  align-items: start;
  margin-bottom: 7.5rem;
}

.wrapper__services h2 {
  margin-top: 15rem;
}

.wrapper__services img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.service {
  margin-bottom: 6rem;
}

.wrapper__single-project {
  position: relative;

  margin-bottom: 15rem;
}

.wrapper__single-project img {
  width: 100%;
  max-width: 115rem;
}

.wrapper__single-project:hover {
  border-bottom: none;
}

.wrapper__single-project p {
  color: #fff;
  position: absolute;
  font-size: 3rem;
  line-height: 4.1rem;
  max-width: 48rem;
  bottom: 4rem;
  left: 4rem;
  margin-bottom: 0;
}

.black-background {
  background: #121212;
}

.wrapper__contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 15rem;
  width: 100%;
}

.wrapper__contacts img {
  max-width: 2.4rem;
  margin-bottom: 1.2rem;
}

.wrapper__contacts h3 {
  font-size: 6rem;
  line-height: 6rem;
  margin-bottom: 3rem;
}

.wrapper__contacts a {
  text-decoration: none;
  font-size: 6rem;
  line-height: 6rem;
  margin-bottom: 3rem;
  border: none;
}

.wrapper__contacts a:hover {
  color: #888888;
  text-decoration: underline;
  transition: 0.3s;
}

footer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.footer__links {
  margin-bottom: 9rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6rem;
}

footer a {
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
  border-bottom: none;
}

footer a:hover {
  color: #898989;
  transition: 0.3s;
  border-bottom: none;
}

footer p {
  color: #898989;
  font-size: 2rem;
  line-height: 2.7rem;
  margin-bottom: 3rem;
}
