@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .wrapper {
    padding: 0 12px;
  }

  #mobile-header {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 33px;
    margin: 0 auto;
    top: -117px;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    transition: all 600ms ease-in-out;
    padding-bottom: 10px;
    z-index: 1;
  }

  #mobile-header.active {
    top: 93px;
    transition: all 600ms ease-in-out;
    padding-bottom: 33px;
  }

  .header__toggle {
    position: relative;
    width: 40px;
    height: 40px;
    transition: all 300ms ease-in-out;
  }

  .header__input {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 50px;
    height: 50px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }

  .header__span::after,
  .header__span::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #121212;
    transform: rotate(45deg);
    width: 25px;
    height: 5px;
    top: 5px;
    transition: all 800ms;
  }

  .arrow-animation {
    animation: bounce 5s;
  }

  .header__span::before {
    transform: rotate(-45deg);
    left: 15px;
  }

  .header__input:checked + .header__span::after {
    transform: rotate(-45deg);
    top: 3px;
  }

  .header__input:checked + .header__span::before {
    transform: rotate(45deg);
    top: 3px;
  }

  #blackout {
    visibility: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    transition: all 400ms;
  }

  #blackout.blackout {
    visibility: inherit;
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #121212;
    opacity: 50%;
    z-index: 0;
    transition: all 400ms;
  }

  .header__span {
    position: absolute;
    margin-top: 10px;
    left: 0;
  }

  .header {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    z-index: 2;
    padding-top: 33px;
    margin-top: 0;
  }

  .header__navigation {
    display: none;
  }

  .link {
    width: fit-content;
    border-bottom: 1px solid transparent;
  }

  .header__logo {
    width: auto;
    height: 30px;
  }

  .main {
    margin-top: 33px;
    margin-bottom: 80px;
  }

  .h1 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 25px;
    max-width: 90%;
  }

  .main__image {
    height: 300px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(../Resources/Photos/Main/Chair-background/chair-background-mobile.png)
        center center/cover no-repeat;
  }

  .main__paragraph {
    margin: 15px;
    font-size: 16px;
    line-height: 22px;
  }

  .h2 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
    text-align: start;
  }

  .about-us {
    margin-bottom: 80px;
  }

  .about-us__paragraph {
    font-size: 22px;
    line-height: 30px;
    max-width: 100%;
  }

  .about-us {
    margin-bottom: 80px;
  }

  .about-us__link {
    width: 100%;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 3.8px;
  }

  .project {
    margin-bottom: 80px;
  }

  .project__item {
    margin-bottom: 50px;
  }

  .project__image {
    margin-bottom: 18px;
    height: 250px;
    object-fit: cover;
  }

  .h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .project__link {
    font-size: 16px;
    line-height: 22px;
  }

  .full-container-btn {
    font-size: 22px;
    line-height: 30px;
    padding: 34px 0;
  }

  .project__item:nth-child(4) {
    margin-bottom: 60px;
  }

  .service {
    margin-top: 80px;
    align-items: start;
    text-align: left;
    margin-bottom: 80px;
  }

  .service__flex {
    gap: 0;
    flex-wrap: wrap;
  }

  .service__image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .service__item {
    margin-bottom: 47px;
    width: 100%;
    max-width: 100%;
  }

  .service__item:nth-child(4) {
    margin-bottom: 60px;
  }

  .service__price {
    top: 24px;
    left: 24px;
    padding: 4px 23px;
    border-radius: 3.8px;
    font-size: 14px;
    line-height: 19px;
  }

  .single-project {
    margin-bottom: 80px;
  }

  .single-project__image {
    height: 74vw;
    object-fit: cover;
  }

  .single-project__paragraph {
    color: #fff;
    max-width: 210px;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    left: 30px;
    bottom: 20px;
    margin-bottom: 0;
  }

  .comments {
    margin-top: 80px;
    margin-bottom: 5px;
  }

  .comments__flex {
    gap: 0px;
    height: fit-content;
    margin-bottom: 0px;
    flex-wrap: wrap;
  }

  .comment__header {
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 10px;
  }

  .comment__text {
    font-size: 16px;
    line-height: 22px;
  }

  .comment__item {
    margin-bottom: 74px;
  }

  .gallery-slider {
    height: 49vh;
    min-height: 100px;
  }

  .gallery-slider__header {
    top: 61px;
    left: 12px;
    font-size: 14px;
    line-height: 19px;
  }

  .gallery-slider__project-link {
    bottom: 58px;
    left: 13px;
    width: 280px;
    font-size: 19px;
    line-height: 26px;
  }

  .gallery-slider__control {
    justify-content: space-between;
    width: 100%;
    max-width: 92%;
    bottom: 193px;
    left: 12px;
  }

  .gallery-slider__control_prev,
  .gallery-slider__control_next {
    height: 17px;
    width: 17px;
  }

  .contacts {
    margin: 82px 0;
  }

  .contacts__flex-container {
    flex-wrap: wrap;
    gap: 20px;
  }

  .contacts__link_tel,
  .contacts__link_mail {
    font-size: 35px;
    line-height: 46px;
  }

  .contacts__link_tel::before {
    width: 10px;
    height: 17px;
    margin-bottom: 19px;
  }
  .contacts__link_mail::before {
    width: 15px;
    height: 18px;
    margin-bottom: 17px;
  }

  .footer {
    padding-top: 26px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 16px;
  }

  .footer__paragraph {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 26px;

  }

  .footer__navigation{
    gap: 30px;
    margin-bottom: 40px;
  }
  
}
