@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .wrapper {
    padding: 0 12px;
  }

  
  .link {
    width: fit-content;
    border-bottom: 1px solid transparent;
  }

  .header {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .header__navigation {
    display: none;
  }

  .header__logo {
    width: 95px;
    height: 15px;
  }

  .mobile-header__button {
    right: 6px;
    top: 9px;
  }

  .mobile-header__button::before {
    left:auto;
    right: 5px;
    width: 40px;
  }

  .mobile-header__button::after {
    left:auto;
    right: 5px;
    width: 25px;
  }

  .mobile-header__button_close::before,
  .mobile-header__button_close::after {
    right: 10px;
    width: 30px;
  }

  .main {
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .h1 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 25px;
    max-width: 96%;
  }

  .main__image {
    height: 300px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(../Resources/Photos/Main/Chair-background/chair-background-mobile.png)
        center center/cover no-repeat;
  }

  .main__paragraph {
    max-width: 70vw;
    margin: 15px;
    font-size: 16px;
    line-height: 22px;
  }

  .h2 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
    text-align: start;
  }

  .about-us {
    margin-bottom: 80px;
  }

  .about-us__paragraph {
    font-size: 22px;
    line-height: 30px;
    max-width: 100%;
  }

  .about-us {
    margin-bottom: 80px;
  }

  .about-us__link {
    width: 100%;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 3.8px;
    text-align: center;
  }

  .project {
    margin-bottom: 80px;
  }

  .project__item {
    margin-bottom: 50px;
  }

  .project__image {
    margin-bottom: 18px;
    height: 250px;
    object-fit: cover;
  }

  .h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .project__link {
    font-size: 16px;
    line-height: 22px;
  }

  .full-container-btn {
    font-size: 22px;
    line-height: 30px;
    padding: 34px 0;
  }

  .project__item:nth-child(4) {
    margin-bottom: 60px;
  }

  .service {
    margin-top: 80px;
    align-items: start;
    text-align: left;
    margin-bottom: 80px;
  }

  .service__flex {
    gap: 0;
    flex-wrap: wrap;
  }

  .service__image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .service__item {
    margin-bottom: 47px;
    width: 100%;
    max-width: 100%;
  }

  .service__item:nth-child(4) {
    margin-bottom: 60px;
  }

  .service__price {
    top: 24px;
    left: 24px;
    padding: 6px 23px;
    border-radius: 3.8px;
    font-size: 14px;
    line-height: 19px;
  }

  .pop-up__container {
    margin: 13px;
    width: 100%;
    height: 610px;
  }
  .pop-up__close-button {
    top: 30px;
    right: 12px;
  }

  .pop-up__close-button::before,
  .pop-up__close-button::after {
    width: 24px;
    height: 2px;
    left: 12px;
  }

  .pop-up__wrapper {
    margin: 80px 15px;
    justify-content: center;
    align-items: center;
  }

  .pop-up__header {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 10px;
  }

  .pop-up__info {
    font-size: 14px;
    line-height: 19px;
    width: 210px;
    margin-bottom: 50px;
  }
  .pop-up__input {
    width: 100%;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  .single-project {
    margin-bottom: 80px;
  }

  .single-project__image {
    height: 74vw;
    object-fit: cover;
  }

  .single-project__paragraph {
    color: #fff;
    max-width: 210px;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    left: 30px;
    bottom: 20px;
    margin-bottom: 0;
  }

  .comments {
    margin-top: 80px;
    margin-bottom: 5px;
  }

  .comments__flex {
    gap: 0px;
    height: fit-content;
    margin-bottom: 0px;
    flex-wrap: wrap;
  }

  .comment__header {
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 10px;
  }

  .comment__text {
    font-size: 16px;
    line-height: 22px;
  }

  .comment__item {
    margin-bottom: 74px;
  }

  .gallery-slider {
    height: 47vh;
    
  }

  .gallery-slider__content {
    height: 47vh;
    min-height: 100px;
  }

  .gallery-slider__header {
    top: 61px;
    left: 12px;
    font-size: 14px;
    line-height: 19px;
  }

  .gallery-slider__project-link {
    bottom: 60px;
    left: 13px;
    width: 280px;
    font-size: 19px;
    line-height: 26px;
  }

  .gallery-slider__control {
    justify-content: space-between;
    width: 100%;
    max-width: calc(100% - 28px);
    bottom: 193px;
    left: 12px;
  }

  .gallery-slider__control_prev,
  .gallery-slider__control_next {
    height: 17px;
    width: 17px;
  }

  .contacts {
    margin-top: 78px;
    margin-bottom: 0; 
  }

  .contacts__flex-container {
    flex-wrap: wrap;
    gap: 20px;
  }

  .contacts__link_tel,
  .contacts__link_telegram {
    font-size: 35px;
    line-height: 46px;
  }

  .contacts__link_tel::before {
    width: 10px;
    height: 17px;
    margin-bottom: 19px;
  }
  .contacts__link_telegram::before {
    width: 23px;
    height: 18px;
    margin-bottom: 17px;
  }

  .footer {
    padding-top: 32px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 16px;
  }

  .footer__paragraph {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 26px;
  }

  .footer__navigation {
    gap: 30px;
    margin-bottom: 40px;
  }
}
