* {
  font-family: "Manrope";
}

html {
  scroll-behavior: smooth;
  font-family: "Manrope";
  font-size: 62.5%;
  color: #121212;
}

body {
  font-size: 19px;
  align-items: center;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style-type: none;
}

.body_fixed {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  letter-spacing: -0.03em;
}

.span {
  white-space: nowrap;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope";
  font-style: normal;
  margin: 0 33px;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 33px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;
  margin-top: 37px;
}

.header__logo {
  width: 127px;
  height: 20px;
}

.header__links-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.header__right ::after {
  width: 100px;
  height: 100px;
}

.mobile-header__button {
  display: none;
}

.mobile-header {
  display: none;
}

.link {
  color: #121212;
  transition: all 0.3s;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  transition: all 0.3s;
  opacity: 0.5;
  border-bottom: 1px solid #121212;
}

.link:visited {
  color: #121212;
}

.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  width: 100%;
}

.h1 {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 30px;
  max-width: 1000px;
}

.main__image {
  display: flex;
  align-items: end;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../Resources/Photos/Main/Chair-background/chair-background.png) center
      center/cover no-repeat;
  width: 100%;
  height: 50vw;
  max-height: 500px;
}

.main__paragraph {
  color: #fff;
  max-width: 430px;
  margin: 40px;
  font-size: 20px;
  line-height: 27px;
}

.h2 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
  justify-content: start;
  text-transform: uppercase;
}

.about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

.about-us__paragraph {
  max-width: 1050px;
  font-size: 45px;
  line-height: 61.47px;
  margin-bottom: 28px;
}

.about-us__link {
  background-color: #ad1818;
  width: 255px;
  color: #fff;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 20px;
  line-height: 27px;
  border-radius: 5px;
  transition: 0.3s;
}

.about-us__link:hover {
  opacity: 1;
  border-bottom: none;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  align-items: normal;
}

.project__item {
  margin-bottom: 90px;
}

.project__image {
  object-fit: cover;
  width: 100%;
  max-height: 450px;
  margin-bottom: 12px;
}

.project__h3 {
  text-transform: uppercase;
}

.h3 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 15px;
}

.project__link {
  border: none;
  color: #ad1818;
  text-decoration: none;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 90px;
  transition: 0.3s;
}

.project__link:hover {
  opacity: 1;
}

.full-container-btn {
  cursor: pointer;
  width: 100%;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  padding: 55px 0;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.full-container-btn:hover {
  opacity: 1;
  text-decoration: none;
  transition: 0.3s;
}

.project__show-all {
  border: 1px solid #ad1818;
  text-decoration: none;
  color: #ad1818;
}

.project__show-all:hover {
  color: #fff;
  background-color: #ad1818;
}

.service {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #121212;
  align-items: start;
  margin-bottom: 150px;
}

.service__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: space-between;
}

.service__item {
  position: relative;
  width: calc(50% - 5px);
  max-width: 570px;
  margin-bottom: 68px;
}

.service__image {
  width: 100%;
  height: 386px;
  object-fit: cover;
  margin-bottom: 22px;
}

.service__price {
  position: absolute;
  color: #fff;
  background: #ad1818;
  border-radius: 5px;
  top: 26px;
  left: 30px;
  font-size: 22px;
  line-height: 30px;
  padding: 5px 18px;
}

.service__btn {
  margin-top: 21px;
  border: 1px solid #ad1818;
  color: #fff;
  background-color: #ad1818;
}

.pop-up {
  visibility: hidden;
  transition: all 0.8s;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
}

.pop-up_open {
  z-index: 3;
  visibility: visible;
  transition: all 0.8s;
  background-color: rgba(0, 0, 0, 0.7);
}

.pop-up__container {
  transform: translateY(-800px);
  transition: all 0.7s ease-in-out;
  position: relative;
  margin: 90px;
  background-color: rgba(255, 255, 255, 1);
  display: block;
  z-index: 4;
  width: 780px;
  height: 100%;
  max-height: 710px;
  border-radius: 10px;
  overflow-y: auto;
}

.pop-up_open .pop-up__container {
  transform: translateY(0px);
  transition: all 0.7s ease-in-out;
}

.pop-up__close-button {
  cursor: pointer;
  border: none;
  background: transparent;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 35px;
  top: 35px;
}

.pop-up__close-button::before,
.pop-up__close-button::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #121212;
  border-radius: 20px;
  left: 3px;
}

.pop-up__close-button::after {
  transform: rotate(45deg);
}

.pop-up__close-button::before {
  transform: rotate(-45deg);
}

.pop-up__wrapper {
  position: relative;
  margin: 95px 65px 85px 65px;
  display: flex;
  flex-direction: column;
}

.pop-up__header {
  width: 100%;
  font-size: 45px;
  line-height: 61px;
  text-align: center;
  margin-bottom: 5px;
}

.pop-up__info {
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 55px;
}

.pop-up__send-info {
  margin-top: 30px;
  cursor: pointer;
  width: 100%;
  padding: 20px 0;
  font-size: 20px;
  line-height: 27px;
  background-color: #ad1818;
  color: #fff;
  border-radius: 5px;
  border: none;

}

.pop-up__input {
  font-size: 25px;
  line-height: 45px;
  border: none;
  border-bottom: 2px solid #000;
  margin-bottom: 45px;
}

.pop-up__input:last-child {
  margin-bottom: 450px;
}

.pop-up__input:focus {
  outline: none;
}

.comments {
  margin: 150px 0;
  margin-bottom: 73px;
  width: 100%;
}

.comments__flex {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  flex-wrap: wrap;
}

.comment__item {
  width: 46%;
  max-width: 530px;
  margin-bottom: 79px;
}

.comment__item:nth-last-child(1) {
  max-width: 860px;
  width: 100%;
}

.comment__header {
  font-size: 45px;
  line-height: 60px;
  margin-bottom: 15px;
}

.comment__text {
  font-size: 22px;
  line-height: 30px;
}

.black-background {
  background: #121212;
}

.gallery-slider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.gallery-slider__content {
  position: relative;
  width: 100%;
  height: 90vh;
  min-height: 500px;
  max-width: 1920px;
}

.gallery-slider__header {
  z-index: 2;
  color: #fff;
  top: 65px;
  position: absolute;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
}

.gallery-slider__images-box {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s;
}
.gallery-slider__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-slider__project-link {
  position: absolute;
  color: #fff;
  font-size: 30px;
  line-height: 41px;
  bottom: 65px;
  max-width: 440px;
  transition: 0.4s;
  text-decoration: none;
}

.gallery-slider__project-link:hover {
  position: absolute;
  color: rgba(228, 228, 228, 1);
  transition: 0.4s;
  text-decoration: none;
}

.gallery-slider__project-link:visited {
  color: #fff;
}

.gallery-slider__control {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: start;
  gap: 20px;
  bottom: 172px;
}

.gallery-slider__control_prev,
.gallery-slider__control_next {
  position: relative;
  cursor: pointer;
  background: transparent;
  height: 24px;
  width: 24px;
  bottom: 0;
  border: 4px solid #fff;
  transform: rotate(45deg);
  transition: 0.2s;
  border-top: none;
  border-right: none;
}

.gallery-slider__control_next {
  transform: rotate(-135deg);
}

.gallery-slider__control_prev {
  transform: rotate(45deg) translate(4px, -4px);
}

.gallery-slider__control_prev:active,
.gallery-slider__control_next:active {
  border-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

.gallery-slider__active {
  z-index: 1;
  transition: 1s;
  opacity: 1;
}

.gallery-slider__slide {
  transition: 1s;
  position: absolute;
  width: 100%;
  height: 100%;
}

.contacts {
  margin-top: 145px;
  margin-bottom: 0px;
}

.contacts__h2 {
  margin-bottom: 25px;
}

.contacts__flex-container {
  width: 100%;
  display: flex;
  gap: 112px;
  text-align: justify;
}

.contacts__link_tel,
.contacts__link_telegram {
  border: 2px solid transparent;
  text-transform: none;
  font-size: 60px;
  line-height: 73px;
}

.contacts__link_tel:hover,
.contacts__link_telegram:hover {
  border-bottom: 2px solid #121212cc;
}

.contacts__link_tel::before {
  content: "";
  display: block;
  background: url(../Resources/Objects/Phone_logo/Phone_logo.png) center
    center/cover no-repeat;
  width: 13px;
  height: 22px;
  margin-bottom: 20px;
}

.contacts__link_telegram::before {
  content: "";
  display: block;
  background: url(../Resources/Objects/Telegram_logo/telegram-ico.png) center
    center/cover no-repeat;
  width: 24px;
  height: 18px;
  margin-bottom: 20px;
}

footer {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.footer__navigation {
  margin-bottom: 90px;
}

.footer__link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 53px;
}

.footer__link {
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
  border-bottom: none;
  text-transform: uppercase;
}

.footer__link:hover {
  color: #898989;
  transition: 0.3s;
  border-bottom: none;
}

.footer__paragraph {
  color: #898989;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 30px;
}

li {
  height: fit-content;
}
