@media (max-width: 992px) {
  .container {
    max-width: 930px;
  }

  .wrapper {
    padding: 0 15px;
    margin: 0;
  }

  .h1 {
    font-size: 50px;
    line-height: 60px;
    max-width: 777px;
  }

  .main {
    margin-bottom: 120px;
  }

  .main__image {
    max-height: 400px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(../Resources/Photos/Main/Chair-background/chair-background-tablet.png)
        center center/cover no-repeat;
  }

  .main__paragraph {
    max-width: 430px;
    margin: 30px 40px;
  }

  .about-us {
    margin-bottom: 120px;
  }

  .about-us__paragraph {
    max-width: 690px;
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 30px;
  }

  .project {
    margin-bottom: 100px;
  }

  .project__item {
    margin-bottom: 80px;
  }

  .project__item:nth-last-child(2) {
    margin-bottom: 100px;
  }

  .h3 {
    font-size: 25px;
    line-height: 34px;
  }

  .project__h3 {
    margin-bottom: 10px;
  }

  .project__image {
    width: 100%;
    height: 450px;
  }

  .project__link {
    line-height: 27px;
  }

  .service {
    margin-bottom: 120px;
  }

  .service__flex {
    margin-bottom: 0;
  }

  .service__h3 {
    margin-bottom: 0;
  }

  .service__price {
    font-size: 20px;
    line-height: 27px;
    top: 33px;
    left: 30px;
    padding: 6px 24px;
  }

  .service__item {
    max-width: 460px;
    margin-bottom: 80px;
  }

  .service__image {
    height: 315px;
    margin-bottom: 12px;
  }

  .service__btn {
    margin-top: 0;
  }

  .comments {
    margin: 120px 0;
    margin-bottom: 40px;
  }

  .comments__flex {
    column-gap: 10px;
    row-gap: 80px;
  }

  .comment__item {
    max-width: 460px;
  }

  .comment__item:last-child:nth-child(odd) {
    max-width: 700px;
  }

  .comment__header {
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 25px;
  }

  .comment__text {
    font-size: 20px;
    line-height: 27px;
  }

  .gallery-slider {
    height: 65vh;
  }

  .gallery-slider__header {
    top: 82px;
    left: 51px;
    font-size: 20px;
    line-height: 27px;
  }

  .gallery-slider__project-link {
    bottom: 80px;
    left: 51px;
    width: 370px;
    font-size: 25px;
    line-height: 34px;
  }

  .gallery-slider__control {
    bottom: 161px;
    left: 52px;
  }

  .contacts {
    margin: 120px 0;
  }
  
  .contacts__flex-container {
    gap: 120px;
  }

  .contacts__link_tel,
  .contacts__link_mail {
    font-size: 45px;
    line-height: 60px;
  }

  .contacts__link_tel::before {
    margin-bottom: 23px;
  }
  .contacts__link_mail::before {
    margin-bottom: 23px;
  }

  .footer {
    padding-top: 63px;
  }
}
